<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add new task</h1>
<form action="#" th:action="@{/}" th:object="${task}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Importance: <input type="number" th:field="*{importance}" /></p>
    <p>Done: <input type="checkbox" th:field="*{done}"></p>
    <p><input type="submit" value="Add" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>